/* TO GET AN IDEA OF THE CSS YOU WILL LIKELY BE USING, SEE THE LISTS BELOW. */

        /* 
        
        Spacing 

            - padding (shorthand and/or specific properties like padding-bottom, etc.)

            - margin, (shorthand and/or specific properties like margin-top, etc.)

            - letter-spacing, word-spacing, line-height

            - width, max-width, min-width
            - height, max-height, min-height

        Typography 

            - font-family, font-size, font-style, font-weight

            - text-decoration, text-align

            - color

            - text-shadow, text-transform

        Box, Layout and Border 

            - border (shorthand and/or specific properties like border-top, border-bottom-radius, border-width, etc.)

            - box-shadow

            - display, float, align-items, align-content

            - grid-template-columns, grid-column-gap

            - transform

        Other

            - :nth()-child (to target specific child elements)

            - :focus, :hover, :active (to target link states)

            - @font-face or @import (to import typefaces)

        */


/* ------ START WRITING YOUR CODE BELOW ------ */

{
    box-sizing: border-box;
}


body {
    margin: 1rem auto;
    width:90%;
    min-width:56.25rem;
}


/* Layout */

main {
    overflow:auto;
    min-width:25rem;
  
}

section {
    float: left;
    min-width: 22.5rem;
    width:50%;
}

figure {
    width:60%;
    margin:0 10% 0 0;
    float:left;
}

figure img {
    width:100%;
    max-width:25rem;
}

figcaption {
    margin:.375rem 0;
}



nav {
    float: center;
    width:11.25rem;
}

footer {
    clear: both;
    margin-top:1.5rem;
}

section, aside, nav, footer {
  padding: .5rem;
}

/* header and footer */

header, footer {
  
  border-bottom: .125rem solid #33658A;
}
@font-face {
        font-family: 'lato-regular';
        src: url(..fonts/lato-regular.ttf) format('truetype');
        font-weight:normal;
        font-style:normal;
}
@font-face {
        font-family: 'robotoslab-regular';
        src: url(..fonts/robotoslab-regular.ttf) format('truetype');
        font-weight:normal;
        font-style:normal;
}

html {
    font-size:16px;
    font-family: 'lato-regular', sans-serif;
}


      
h1 {
    font-size: 2.5rem;
    text-align: center;
    letter-spacing: normal;
    word-spacing: normal;
    display: flex;
    
     

}
p {}
    
}

h2 {
    display: flex;
}

h3 {
   display: flex;
}

a {}

nav {
     border-bottom: .125rem solid #33658A;
    text-align: center;
    word-spacing: normal;
    display: inline-block;
    vertical-align:baseline;
}

nav a {
    text-underline-position: none;
    display: block;
    width: 50%;
    line-height: 2;
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    border-style: none;
    color: #339289;
    align-content: center;
    text-decoration: none;

}
nav a:hover {
    text-decoration: line-through;
    
    
}
footer {}
